/* Make the container take up the full screen */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* The container holds the image as background and centers the text */
.container {
  width: 30%;
  height: 100%; /* Full viewport height */
  background-image: url("https://i.imgur.com/j9g6ihH.png");
  background-size: cover; /* Make the background image cover the entire screen */
  background-position: center; /* Center the background image */

  /* Flexbox to center content */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

  color: white; /* Default text color */
  font-family: Arial, sans-serif;
}

/* Style for the text */
h1 {
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0); /* Optional: Adds shadow to the text */
  color: black; /* Change text color to blue */
  margin: 0; /* Remove any default margin */
  animation: spin 5s linear infinite; /* Apply spin animation */
}

/* Spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start with 0 degree rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}

/* Move image */
.move-image {
  position: relative; /* Enable relative positioning */
  top: 50px; /* Moves the image 50px down */
  left: -500px; /* Moves the image 100px to the right */
}

.move-text {
  position: relative;
  top: 50px;
  left: -200px;
  font-size: 60px;
  white-space: nowrap; /* Ensures the text does not break into a new line */
}

/* Audio element - customize its visibility */
audio {
  display: none; /* Optionally hide the controls if you don't want them to show */
}
